:root {
	/* Brand Colors */
	--brand-darkest: #1e172e;
	--brand-lightest: #fff;
	--gray-base: #b2b2be;
	--brand-primary: #893fc4;
	--brand-primary--inverted: #ebe0f7;
	--brand-secondary: #f43;
	--brand-secondary--inverted: var(--brand-lightest);
	--brand-darkest--inverted: color(var(--brand-darkest) contrast(90%));

	/* Forms */
	--default-button-color: var(--brand-darkest);
	--default-button-color--inverted: var(--brand-primary--inverted);
	--default-button-color--hover: #ac55f5;
	--default-button-color--active: #ac55f5;

	--input-bg: #ffffff;
	--input-border-color: color(var(--component-bg) contrast(1%) a(40%));

	/* Colors */
	--body-bg: #ebebeb;
	--body-text: #19162A;
	--component-bg: #fafafa;
	--component-text-color: #19162A;
	--preview-placeholder-color: color(var(--component-bg) contrast(80%) alpha(10%));
	--backdrop-color: color(var(--brand-darkest) a(12%));
	--main-navigation-color: var(--brand-darkest);
	--main-navigation-color--inverted: color(var(--main-navigation-color) contrast(80%));

	/* Headers */
	--dialog-header-color: #fff;
	--dialog-header-color--inverted: var(--brand-darkest);
	--header-height: 2rem;
	--checkerboard-color: color(var(--component-text-color) a(5%));
	--selectable-item-base: var(--brand-primary);


	/* Hairline */
	--hairline-color: color(var(--component-bg) contrast(80%) a(10%));

	/* Buttons */
	--default-button-primary-color--inverted: var(--brand-lightest);
	--default-button-danger-color--inverted: var(--brand-lightest);
	--default-button-success-color--inverted: var(--brand-lightest);

	/* Override */
	--selectable-item-base:  var(--brand-darkest);
	--default-button-primary-color: var(--brand-darkest);
  }
